#range1 {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 16px;
}

#range1::-webkit-slider-runnable-track {
  height: 3px;
  background: #DFDAE3;
  border-radius: 50%;
}

#range1::-moz-range-track {
  height: 3px;
  background: #DFDAE3;
  border-radius: 50%;
}

#range1::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 3px;
  width: 3px;
  background-color: #3B7AE8;
  border-radius: 50%;
  border: 2px solid #3B7AE8;
  box-shadow: -407px 0 0 400px #3B7AE8;
}

#range1::-moz-range-thumb {
  height: 3px;
  width: 3px;
  background-color: #3B7AE8;
  border-radius: 50%;
  border: 1px solid #3B7AE8;
  box-shadow: -407px 0 0 400px #3B7AE8;
}

.range{
  width: 100%;
}
